node_modules
dist
build
yarn-error.log
.vscode/launch.json
.DS_Store
.env
.npmrc
/src/shared/ContractABIs/CropOracle.json
/src/shared/ContractABIs/CropVault.json
/src/shared/ContractABIs/ERC1155m.json
/src/shared/ContractABIs/MockERC20.json